Source: {{APPNAME}}
Version: {{APP_VERSION}}
Section: base
Priority: optional
Build-Depends: libc6 (>= 2.34), libgcc-s1 (>= 3.0), libqt6core6 (>= 6.2.0), libqt6gui6 (>= 6.1.2), libqt6network6 (>= 6.1.2), libqt6svg6 (>= 6.2.0), libqt6widgets6 (>= 6.1.2), libstdc++6 (>= 11), qt6-qpa-plugins (>= 6.2.0)
Maintainer: Robert Kist
Package: {{APPNAME}}
Depends: libc6 (>= 2.34), libgcc-s1 (>= 3.0), libqt6core6 (>= 6.2.0), libqt6gui6 (>= 6.1.2), libqt6network6 (>= 6.1.2), libqt6svg6 (>= 6.2.0), libqt6widgets6 (>= 6.1.2), libstdc++6 (>= 11), qt6-qpa-plugins (>= 6.2.0)
Architecture: {{ARCH}}
Description: A utility for dithering images
Homepage: {{APP_HOMEPAGE}}
